*.db
*.db-shm
*.db-wal
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
*.egg-info/
dist/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
